// Styling for the three photos on we create brands section
.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        transition: all 1s;
        z-index: 10;

        @include respond(tab-port) {
            float:left;
            position: relative;
            width: 33%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .3);
        }

        &--p1 {
            left: 0;
            top: -2rem;

            @include respond(tab-port) {
                top: 0;
            }
        }


        &--p2 {
            right: 0;
            top: 2px;

            @include respond(tab-port) {
                top: -1rem;
                z-index: 100;
                transform: scale(1.3);
            }
        }

        &--p3 {
            left: 10%;
            top: 15rem;

            @include respond(tab-port) {
                left: 0;
                top: 0;
            }
        }

        
        &:hover {
            transform: scale(1.05) translateY(-0.5rem);
            filter: contrast(1.3);
            box-shadow: 0 2.5rem 5rem rgba($color-black, .6);
            z-index: 20;
        }
        
    }
}