.feature-box {
    background-color: rgba($color-white, 1);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    transition: transform .5s;
    color: $color-grey-dark-3;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    @include respond(tab-port) {
        padding: 2rem;
    }
    &__icon {
        font-size: 6rem;
        margin-bottom: 0.5rem;
        background-image: linear-gradient(to right, rgba($color-primary-light, 1), rgba($color-primariy-dark, 1));
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block; 
        transition: all .5s;

        @include respond(tab-port) {
            margin-bottom:0;
        }
    }

    &:hover {
        transform: translateY(-1rem) scale(1.2);
        background-color: $color-primary;
        color: white;
        transition: ease-out .6s;
    }

    &:hover &__icon {
        color: white;
    }
}