.testimonials {
    padding: 8rem 0;
    position: relative;

    &__box {
        padding: 2rem;
        text-align: center;
        color: $color-white;
        border-radius: 4px;
        background-color: rgba($color-white, .7);
        transition: all .5s ease-in-out;

        &--profile {
            margin-bottom: 2rem;

            &-img {
                width: 10rem;
                border-radius: 100px;
                border: .5rem solid transparent;
                box-shadow: 0 1rem 4rem rgba($color-black, .5);
                
            }

            &-name {
                font-size: 2.5rem;
                font-weight: 600;
                color: $color-grey-dark-3;
                display: block;
                line-height: 2.5rem;
                margin-top: 1.5rem;
            }

            &-job {
                font-size: 1.8rem;
                font-weight: 300;
                color: $color-grey-dark-2;
                display: block;
            }
        }

        &:hover {
            background-color: $color-white;
            transform: scale(1.1);
        }

        &--quote {
            padding: 1rem;
            // background-color: $color-white;
            color: $color-grey-dark-3;
            position: relative;
            border-radius: 4px;

            &-icon {
                width: 4rem;
                position: absolute;
                top: 2rem;
                left: 1.5rem;
                opacity: 0.7;
            }

            blockquote {
                padding: 2rem 2rem 2rem 6rem;
                text-align: left;
            }
        }
    }
}