// Global utility classes for different sizes and margins
.u-center-text {
    text-align: center;
}
.u-margin-bottom-big {
    margin-bottom: 8rem;

    @include respond(tab-port) {
        margin-bottom: 5rem;;
    }
}
.u-margin-bottom-medium {
    margin-bottom: 4rem;

    @include respond(tab-port) {
        margin-bottom: 2rem;
    }
}
.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}
.u-margin-top-big {
    margin-top: 8rem;

    @include respond(tab-port) {
        margin-bottom: 5rem;
    }
}
.u-margin-top-huge {
    margin-top: 10rem;

    @include respond(tab-port) {
        margin-bottom: 7rem;
    }
}
.heading-white {
    color:$color-white !important;
}
.pulseeffect {
    animation: PulseEffect 4s infinite;
}
.shadoweffect {
    animation: ShadowEffect 4s infinite;
}